<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985655808498-ppjn5d9qnfipogrork4e3mrpk0vmkrea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985655808498-ppjn5d9qnfipogrork4e3mrpk0vmkrea</string>
	<key>API_KEY</key>
	<string>AIzaSyCPS51Uifkd5vDPKKaKMOR0QHhk9GKF00Y</string>
	<key>GCM_SENDER_ID</key>
	<string>985655808498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>stubu-ac180</string>
	<key>STORAGE_BUCKET</key>
	<string>stubu-ac180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985655808498:ios:27dc370f75fd7413c01b6b</string>
</dict>
</plist>